button { 
    background-color: #157caf; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
}

button:hover { 
    background-color: black; 
}


button { background-color: #157caf; color: white; border-radius: 5px; cursor: pointer; }
button:hover { background-color: black; }
